<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Not Selector</title>
  <!-- :not(Selector)的用法 -->
  <style type="text/css">
    .css-not-selector-shortcut {
      display: flex;
      /* position: relative; */
    }
    li {
       /* 清楚表项默认标记 */
      list-style-type: none;
      margin: 0;
      padding: 0 0.75rem;
      /*  使用position 加 float 也能达到同样的效果
      float: left; */
    }
    li:not(:last-child) {
      border-right: 2px solid #d2d5e4;
    }
  </style>
</head>
<body>
  <ul class="css-not-selector-shortcut">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
  </ul>
</body>
</html>