<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  上篇介绍了Viewport，这一次来介绍移动端不同屏幕适配时的模糊问题，可以看做是由dpr引发的问题
  Retina屏幕&普通屏幕，模糊的由来
  Retina屏的dpr为2，也就是说 屏幕的物理像素是CSS独立像素 的两倍。也就是说同样是 1px css像素的内容 Retina屏幕会比普通屏幕占用的物理像素多4（2x2）倍，这也就是模糊产生的来源；

  但需要注意的是，在不同的屏幕上，无论是普通屏幕还是retina屏幕，无论大小，css像素所呈现的大小是一致的。（所以需要使用rem来进行适配） 不同的是，1个css像素对应（覆盖）的物理像素个数。

  说道模糊，这里又讲到一个名词：位图像素
  位图像素是栅格图像（如：png,jpg,gif等）最小的数据单元。每一个位图像素都包含着一些自身的显示信息。（如：显示位置，颜色值，透明度等）
  理论上来说，1个位图像素对应1个物理像素，图片才能达到完美清晰的展示。但是上面说过，在retina屏幕上，会出现1个位图像素对应多个物理像素。
  还是以iphone6为例，1个位图像素对应4个物理像素。由于单个位图像素已经是最小的数据单位了，它不能再被进行切割，
  于是为了能够显示出来，就只能就近取色，从而导致所谓的图片模糊问题。

  如何解决

解决的办法十分简单，就是使用跟dpr同个倍数大小的图片。比如iphone6，一个200x300的 img标签，原图就要提供400x600的大小。
可以理解为此时还是维持着1:1的css像素:物理像素，不产生模糊。

其他

反向思考一下，如果普通屏幕，也就是dpr为1的屏幕，也使用了两倍的图片，会发生什么样的情况呢？
很明显，在普通屏幕下，200×300的 img标签，所对应的物理像素个数就是200×300个，而两倍图片的位图像素个数则是200x300x4，于是就出现一个物理像素点对应4个位图像素点，
所以它的取色也只能通过一定的算法进行缩减，显示结果就是一张只有原图像素总数四分之一，肉眼看上去虽然图片不会模糊，但是会觉得有点色差。（其实就是模糊的逆向过程）

  <title>Document</title>
  <style>
    div {
      width: 80px;
      height: 80px;
      background: yellow;
    }
  </style>
</head>
<body>
  <div>
    hehe
  </div>
</body>
</html>